.carousel-container {
  width: 500px;
  height: 332px;
  position: relative;
  margin: 50px auto 0;
  border: 10px solid #444;
  border-radius: 10px;
}

.list-container {
  overflow: hidden;
  max-width: 100%;
  margin: 0;
}

.carousel {
  position: relative;
  height: 332px;
  padding: 0;
  margin: 0;
}

.slide {
  position: relative;
  float: left;
  transform: translateX(-500px);
  /* trasition: all을 사용하면 js에서 추가한 style opacity 또한 animation이 적용되서 화면에 늦게 사라지는 현상이 발생 */
  transition: transform 0.5s;
}

.controls {
  position: absolute;
  width: 620px;
  top: calc(50% - 25px);
  margin: 0 -60px;
}

.controls > span {
  width: 50px;
  cursor: pointer;
  opacity: 0.4;
}

.controls > span:hover {
  opacity: 1;
}

.prev {
  float: left;
}

.next {
  float: right;
}
