* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f3f3f3;
}

header {
  text-align: center;
  line-height: 60px;
  height: 60px;
  background-color: #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .list {
  width: 100%;
  max-width: 768px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 25px;
}

main .list .item {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

main .list .item:last-child {
  border-bottom: none;
}

main .list .item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.pagenumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagenumbers button {
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  background-color: #44aaee;
  margin: 5px;
  transition: 0.4s;
  color: #fff;
  font: 15px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
  background-color: #44eeaa;
}

.pagenumbers button.active {
  background-color: #44eeaa;
  box-shadow: inser 0 0 4px rgba(0, 0, 0, 0.2);
}
